.container{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}


#textbox{width:300px;}
.add{background-color: black;
    border-radius: 8px;
    padding:4px;
color:white;
margin-right: 200px;
margin-top:5px;
cursor: pointer;}

.list{background-color: gray;
width:300px;
height:300px;
margin-right:10px;}

li{border:1px solid black;
list-style-type: none;
padding:20px;}
 #together{display: flex;justify-content: space-between;
border: 2px solid green;}