

*{box-sizing: border-box;}
.container{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
input[type="text"]{padding:20px;width:400px;border-radius:12px;
border:1px solid gray;}


.add1{background-color: black;
    border-radius: 8px;
    padding:4px;
color:white;
margin-right: 320px;
margin-top:5px;
cursor: pointer;
margin-bottom: 50px;
justify-content: flex-end;}







.row{background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:50px;
    align-items: flex-end;


}
.add,.delete,.edit{
    background-color: black;
    padding: 30px;
    color:white;
    border-radius: 30px;
    border:1px solid white;
    cursor: pointer;
    margin-right:10px;
    height:auto;
    font-size: 20px;
}

.row1{position: absolute;
    left:100px;
    color:blue;
}